---
import BlogCard from "./BlogCard.astro";
import { getCollection, type CollectionEntry } from 'astro:content';

const allBlogs: CollectionEntry<'blogs'>[] = await getCollection('blogs');
const sortedBlogs = allBlogs.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---
<section class="my-10 px-6 md:px-12">
    <h2 class="text-3xl md:text-4xl font-semibold text-center mb-12">✨Featured Posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {sortedBlogs.map((blog) => (
        blog.data.featured && (
            <div class="transition-transform duration-300 hover:scale-105 rounded-xl p-5">
            <BlogCard
                title={blog.data.title}
                excerpt={blog.data.excerpt}
                pubDate={blog.data.pubDate}
                categories={blog.data.categories}
                slug={blog.slug}
            />
            </div>
        )
        ))}
    </div>
</section>

